.container .header {
    position: fixed;
    top: 0;
    left: 78px;
    background-color: #f16a2d;
    z-index: 99;
    font-family: "Poppins", 'sans-serif';
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;

    height: 60px;
    width: calc(100% - 78px);
}

.container .header.open {
  left: 250px;
  width: calc(100% - 250px);
}

.container .header .title {
  margin: auto 0;
  color: #2a3441;
  color: white;
  text-shadow: 2px 2px #2a3441;
  margin-left: 10px;
}

.container .header ul {
    list-style: none;
    display: flex;
    gap: 10px;
    /* justify-content: flex-end; */
    /* margin-left: 60px; */
    margin-right: 20px;
}

.container .header ul li {
    display: inline-block;
    position: relative;
}

.container .header ul li a {
    display: block;
    padding: 11px 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

/* .container .header ul li ul.dropdown li {
    display: block;
}

.container .header ul li ul.dropdown {
    width: 250px;
    background-color: orange;
    position: absolute;
    right: -40px;
    z-index: 999;
    display: none;
}

.container .header ul li ul.dropdown li a { 
    font-size: 20px;
} */

.container .header ul li a:hover {
    cursor: pointer;
}