body {
  background-color: aliceblue;
}
.homenavbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.select-container {
  margin-top: -12px;
}
.index_btn {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  margin-top: -25px;
}
.request-button {
  background: #f2762c;
  border-radius: 30px;
  position: relative;
}
.request-button :hover {
  background: #191b34;
}
.view-button {
  width: 99px;
  background: #f2762c;
  border-radius: 30px;
  position: relative;
}
.request-button:hover {
  background-color: rgb(32, 35, 55);
}
