body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}
.profile-container2 {
  background-color: #ffffff;
  max-width: 80%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 150px;
  border-radius: 20px;
}
.picture .image {
  max-width: 50px;
  border-radius: 50%;
}

.profile-name {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}
.profile-type {
  font-size: 15px;
  font-weight: 700;
  color: #000;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}
.profile-ratings {
  font-size: 16px;
  color: #666;
}
.budget {
  font-size: 18px;
  color: black;
}
.location {
  float: right;
  font-size: 16px; /* Adjust the font size to make it readable */
  color: black;
  margin-top: -100px;
}
/* .view-profile-button {
  margin-top: -40px;
  float: right;
  background-color: rgb(255 80 80);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}
.edit-profile-button {
  margin-top: -37px;
  margin-left: 690px;
  background-color: rgb(89 228 83);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}
.request-profile-button {
  margin-top: -35px;
  margin-left: 550px;
  background-color: rgb(255 120 14 / 84%);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
} */
.index {
  margin-top: -50px;
  margin-left: 60px;
}
.post-container2 {
  margin-top: 20px;
  margin-left: 450px;
}
.status {
  color: red;
  padding-left: 28%;
  margin-top: -2.7%;
}
.homenavbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.set_margin {
  margin-top: 92px;
}
.greenbutton {
  margin-top: -40px;
  float: right;
  background-color: rgb(15 183 8);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}
.redbutton {
  margin-top: -40px;
  float: right;
  background-color: rgb(255 80 80);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}
.orangebutton {
  margin-top: -40px;
  float: right;
  background-color: rgb(242 116 40);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}
/* .form {
  float: right;
  margin-top: -3%;
} */
form .view-profile-button {
  background-color: rgb(255 80 80);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}
form .edit-profile-button {
  background-color: rgb(22, 117, 19);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}
.request-profile-button {
  background-color: rgb(213, 108, 28);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}
