body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}
.profile-container2 {
  background-color: #ffffff;
  width: 70%;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 20px auto;
  border-radius: 20px;
  flex-direction: row;
  height: 175px;
}
.picture {
  margin-right: 20px;
}
.picture .image {
  max-width: 50px;
  border-radius: 50%;
}

.profile-name {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}
.profile-type {
  font-size: 15px;
  font-weight: 700;
  color: #000;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}
.profile-ratings {
  font-size: 15px;
  color: #666;
}

.budget {
  font-size: 16px;
  color: black;
}
.location {
  display: flex;
  float: right;
  font-size: 14px;
  justify-content: flex-end;
}

/* .view-profile-button {
  margin-top: -40px;
  float: right;
  background-color: rgb(255 80 80);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}
.edit-profile-button {
  margin-top: -37px;
  margin-left: 690px;
  background-color: rgb(89 228 83);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}
.request-profile-button {
  margin-top: -35px;
  margin-left: 550px;
  background-color: rgb(255 120 14 / 84%);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
} */
.index {
  display: flex;
  flex-grow: 1;
  line-height: 1.455;
  font-weight: 700;
  margin-left: 23px;
  align-items: flex-start;
  flex-direction: column;
  height: 132px;
}
.bottom-index {
  display: flex;
  flex-direction: column;
}
.buton_bar {
  display: flex;
  height: 94px;
  align-items: flex-end;
  justify-content: flex-end;
}
.post-container2 {
  margin-left: 300px;
  width: calc(100% - 287px);
  margin-top: 20px;
}
.status {
  color: red;
  padding-left: 28%;
  margin-top: -2.7%;
}
.homenavbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.set_margin {
  margin-top: 92px;
}
.greenbutton {
  width: 100px;
  float: right;
  border: 1px solid;
  background-color: rgb(243 255 246);
  color: #045e0a;
  padding: 7px 20px;
  border: 2px solid green;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}

.redbutton {
  width: 100px;
  float: right;
  background-color: rgb(255 224 224);
  color: #5f0000;
  padding: 7px 14px;
  border: 2px solid red;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}

.orangebutton {
  margin-top: -40px;
  max-width: 100px;
  float: right;
  background-color: rgb(255 245 241);
  color: #935b3a;
  padding: 7px 16px;
  border: 2px solid orange;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}

/* .form {
  float: right;
  margin-top: -3%;
} */
form .view-profile-button {
  background-color: rgb(255 0 0);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}
form .edit-profile-button {
  background-color: rgb(213, 108, 28);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}
form .edit-profile-button:hover {
  background-color: #212336;
}
.request-profile-button {
  background-color: rgb(213, 108, 28);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}
.request-profile-button:hover {
  background-color: #212336;
}
.popup-view {
  position: absolute;
  height: fit-content;
  width: 35%;
  background: #ffffff;
  margin-top: -3%;
  margin-bottom: 3%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
  visibility: hidden;
  transition: transform 0.5s, top 0.5s;
  justify-content: center;
}

.open-popup-view {
  position: fixed;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 101;
}

.popup-view h2 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 4%;
  margin: 4px;
  font-weight: bold;
}

.popup-view h4 {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 2%;
}

.popup-view input {
  position: relative;
  left: 9%;
  /* min-width: 500px; */
  width: 80%;
  background: #d5dfe7d5;
  border-radius: 20px;
  border-style: solid;
  border: #000;
  outline-width: 1px;
  padding: 10px 30px;
  margin-bottom: 2%;
  transition: all 0.3s ease;
  color: var(--dark);
  font-size: 17px;
}

.popup-report .btns,
.popup-view .btns {
  position: relative;
  left: 40%;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-report .close-btn,
.popup-view .close-btn,
.cancelR-btn {
  position: absolute;
  right: 1%;
  font-size: 16px;
  color: var(--red);
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 6px;
  color: white;
  border: none;
  background-color: orangered;
}

.popup-report .cancelR-btn,
.cancelR-btn {
  right: 28%;
  color: white;
  background-color: orangered;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.overlay-active {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.bttns {
  height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.sidebar {
  margin-top: 80px;
}
@media (max-width: 768px) {
  .homenavbar header {
    padding: 0 30px;
  }
  .index {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .index-right {
    display: flex;
    align-items: center;
  }
  .profile-container2 {
    width: 332px;
    float: inline-end;
    flex-direction: column;
    text-align: center;
    height: 400px;
  }

  .picture {
    margin: 0;
    /* Remove margin on smaller screens */
    margin-bottom: 10px;
    /* Add bottom margin for separation */
  }

  .location {
    display: none;
    /* Remove float on smaller screens */
  }
  .buton_bar {
    display: flex;
    margin-left: -27px;
    height: 96px;
    align-items: center;
    flex-direction: row;
  }

  .status {
    margin-left: -85px;
  }
  .request-profile-button {
    width: 109px;
    font-size: 8px;
  }
}
