.table-container {
    max-height: 80vh; /* Set the maximum height for the container (80% of the viewport height) */
    overflow-y: scroll;
    overflow-x: scroll;
}

table {
    width: 150%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.status-requested {
    color: #007bff;
}

.status-accepted {
    color: #28a745;
}

.status-canceled {
    color: #dc3545;
}

.status-rejected {
    color: #ffc107;
}

.status-expired {
    color: #6c757d;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 8px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border-radius: 20px;
    z-index: 9999;
    display: none;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    animation: fadeIn 0.5s ease forwards;
}

.popup button {
    margin-top: 20px;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.popup button.yes-button {
    background-color: #dc3545;
    color: white;
    border: none;
}

.popup button.no-button {
    background-color: #28a745;
    color: white;
    border: none;
}

.popup img {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup-v {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    z-index: 9999;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    animation: popup-show 0.5s ease forwards;
    border: 3px solid red; /* Add red border */
    width: 30%;
}

@keyframes popup-show {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.popup-v h2 {
    text-align: center;
    margin-bottom: 30px;
}

.popup-v form {
    text-align: left;
}

.popup-v label {
    display: block;
    margin-bottom: 10px;
}

.popup-v input[type="text"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: lightgray;
}

.popup-v .btns {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.popup-v .btns button {
    padding: 12px 24px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-v .btns .cancelb {
    background-color: #ccc;
    color: #fff;
}

.popup-v .btns button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

/* Animation for hiding the popup */
@keyframes popup-hide {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
}
