@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather+Sans:wght@400;700&display=swap");

:root {
    --primary-color: #f16a2d;
    --secondary-color: #ff8a1d;
    --background-color: #f9ede8;
    /* --dark-color: #2a3441; */
    --dark-color: #0a0f43;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Merriweather Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2, .h2 {
    font-size: 2rem;
}

h5 {
    font-size: 1.25rem;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.d-flex {
    display: flex !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.layout_padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.layout_padding-bottom {
    padding-bottom: 120px;
}

.m-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
/* ---------------- Navigation Bar ------------------ */
.homenavbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    font-family: Tahoma, Verdana, sans-serif;
}
  
.homenavbar header {
    background: var(--primary-color);
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-shadow: 1px 1px 1px 1px rgb(183, 182, 182);
}
  
.homenavbar .logo {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}
  
.homenavbar nav ul {
    display: flex;
}
  
.homenavbar nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent; /* Default border color */
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration: none;
}
  
.homenavbar nav ul li a:hover {
    /* border-bottom-color: rgb(255, 255, 255); */
    transform: scale(1.2);
}

.homenavbar nav ul li a.clicked {
    border-bottom: 3px solid #060c7d;
}
  
.hamburger {
    cursor: pointer;
    display: none;
}
  
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}

/* --------------------- End Of Navigation Bar --------------------- */



