@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #f16a2d;
  --secondary-color: #ff8a1d;
  --background-color: #ffffff;
  /* --dark-color: #2a3441; */
  --dark-color: #0a0f43;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

h1,
h2 {
  font-family: "Merriweather Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 2rem;
}

h5 {
  font-size: 1.25rem;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.d-flex {
  display: flex !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.m-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
/* ---------------- Navigation Bar ------------------ */
.homenavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  font-family: Tahoma, Verdana, sans-serif;
}

.homenavbar header {
  background: var(--primary-color);
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: 1px 1px 1px 1px rgb(183, 182, 182);
}

.homenavbar .logo {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}

.homenavbar nav ul {
  display: flex;
}

.homenavbar nav ul li a {
  display: inline-block;
  color: #fff;
  padding: 5px 0;
  margin: 0 10px;
  border: 3px solid transparent; /* Default border color */
  text-transform: uppercase;
  transition: 0.2s;
  text-decoration: none;
}

.homenavbar nav ul li a:hover {
  /* border-bottom-color: rgb(255, 255, 255); */
  transform: scale(1.2);
}

.homenavbar nav ul li a.clicked {
  border-bottom: 3px solid #060c7d;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: #000;
}

/* --------------------- End Of Navigation Bar --------------------- */

.main-container {
  min-height: 100vh;
  width: 100%;
  margin-top: 100px;
  align-items: center;
}

.sections {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
}

/* hero section */

/* .hero {
    min-height: calc(100vh -100px);
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    background-size: cover;
    background-position: bottom;
} */

.hero {
  flex: 1;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: bottom;
  padding: 25px 0 0 0;
  background-color: var(--background-color);
}

.hero .detail-box {
  padding-bottom: 90px;
}

.hero .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
  color: var(--primary-color);
}

.hero .row .col .detail-box h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.hero .row .col:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .row .col .detail-box h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.hero .row .col .detail-box p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 15px;
}

.hero .detail-box a:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.hero .detail-box a {
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: #ffffff;
  margin-top: 15px;
  margin-right: 10px;
}

.hero .row .col .img-box img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

/* feature section */

.feature {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* background: yellow; */
  transform: translateY(-50%);
}

.feature_container {
  /* min-height: 100%; */
  /* width: 80%; */
  display: flex;
  /* justify-content: space-between; */
  /* background: orange; */
}

.feature .feature_container .box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  padding: 45px 15px;
  background-color: #ffffff;
  color: var(--primary-color);
  transition: all 0.3s;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.feature_container .box.active {
  background: var(--primary-color);
  color: #fff;
}

.feature_container .box:hover {
  transition: all 0.3s;
  background: var(--primary-color);
  color: #fff;
}

.feature .feature_container .box .img-box {
  width: 90px;
  height: 90px;
}

.img-box img {
  max-height: 100%;
  max-width: 100%;
}

.feature_container .name {
  font-size: 1.25rem;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "Merriweather Sans", sans-serif;
  margin-bottom: 0;
}

/* about section */

.about {
  background: #ffffff;
  /* padding-bottom: 120px; */
}

.about .row {
  align-items: center;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

.about .detail-box h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.about .detail-box p {
  margin-top: 10px;
}

.about .detail-box a {
  margin-top: 15px;
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
  color: #ffffff;
}

.about .img-box img {
  width: 100%;
}

.about a:hover {
  background-color: transparent;
  color: var(--secondary-color);
}

/* professional section */

.professional {
  background-color: var(--background-color);
}

.professional .row {
  align-items: center;
}

/* .professional .image-col , .professional .details-col {
    flex: 0 0 50%;
    max-width: 50%;
} */
/* 
.professional h2 {
    
} */

.professional .img-box img {
  width: 100%;
}

.professional .detail-box h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
}

.professional .detail-box a {
  margin-top: 25px;
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
  color: #ffffff;
}

.professional a:hover {
  background-color: transparent;
  color: var(--secondary-color);
}

/* service section */
.service {
  position: relative;
  background-color: #ffffff;
}

.heading_container {
  margin-bottom: 30px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading_container.heading_center {
  align-items: center;
  text-align: center;
}

.heading_container h2 {
  font-weight: bold;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Merriweather Sans", sans-serif;
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.service .box {
  margin-top: 30px;
  text-align: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  padding: 25px 15px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service .box .img-box {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service .box .img-box img {
  max-height: 100%;
  max-width: 100%;
  transition: all 0.3s;
}

.service .box .detail-box {
  margin-top: 15px;
}

.service .box .detail-box h5 {
  font-weight: bold;
}

.service .box .detail-box p {
  margin: 0;
}

.service .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.service .btn-box a {
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0;
  color: #ffffff;
}

.service .btn-box a:hover {
  background-color: transparent;
  color: var(--secondary-color);
}

.service .col .box:hover {
  color: #ffffff;
  background-color: var(--secondary-color);
}

.service .col .box:hover .img-box img {
  filter: brightness(0) invert(1);
}

/* client section */

.client.heading_container {
  align-items: center;
  text-align: center;
}

.layout_padding2-top {
  padding-top: 45px;
}

.client .box {
  margin: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
}

.client .box .client_id {
  display: flex;
}

.client.box .client_id .img-box {
  width: 125px;
  min-width: 125px;
  margin-right: 15px;
}

.client .box .client_id .img-box img {
  width: 100%;
  border-radius: 100%;
}

.client .box .client_id .client_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding-right: 25px;
  margin-left: 10px;
}

.client .box .client_text {
  margin-top: 20px;
}

.client .box .client_id .client_detail .client_info i {
  color: #fbaf5d;
}

.client .carousel {
  display: flex;
}

.client .carousal .item {
  width: 40%;
}

.client .box .client_id .client_detail .client_info h6 {
  margin-bottom: 0;
  font-size: 1rem;
}

/* contact section */
.contact input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

input,
button {
  overflow: visible;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.contact button {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  padding: 10px 55px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0;
  color: #ffffff;
  margin-top: 15px;
}

.contact button:hover {
  background-color: transparent;
  color: var(--secondary-color);
}

.contact .img-box {
  height: 360px;
}

.contact .img-box img {
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
}

/* info section */
.info {
  padding: 75px 0;
  background-color: var(--dark-color);
  text-align: center;
  color: #fff;
}

.info h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}

.info a {
  margin: 0 5px;
  color: var(--dark-color);
}

.info_items {
  position: relative;
}

.info_items a {
  position: relative;
}

.info_items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info_items .item .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 80px;
  background-color: var(--primary-color);
  color: #ffffff;
}

.info_items .item p {
  margin-top: 25px;
  color: #fff;
  margin-bottom: 0;
  background-color: var(--dark-color);
}

.info a i {
  font-size: 18px;
}

.info_items .item .img-box i {
  font-size: 24px;
}

.info .social-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.info h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}

.info .social-box .box {
  background-color: #ffffff;
  padding: 5px 15px;
}

.info_items::before {
  content: "";
  position: absolute;
  top: 65px;
  width: 75%;
  height: 1px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

/* responsive */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 992px) {
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
