/* Style for the container */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.select-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 350px;
  background-color: #2a3441;
  /* background-image: linear-gradient( 180deg, #100f0e, #0d1341 ); */
  font-size: 19px;
  height: 100%;
  /* border-radius: 25px; */
  position: fixed;
}

/* Style for the search container */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50px;
}

/* Styles for the search box */
.search-box {
  width: 278px;
  border-radius: 50px;
  padding: 8px;
  border: 2px solid #f16a2d;
  border-radius: 20px;
  outline: none;
  transition: all 0.3s ease;
}

/* Styles for when the search box is focused */
.search-box:focus {
  border-color: white;
  box-shadow: 0 0 7px #ff904b;
}
.carousel {
  position: absolute;
  width: 100%;
  top: 107px;
  left: 1%;
  padding-top: 5px;
  /* background-color: #bababa; */
  border-radius: 2rem;
  display: flex;
  overflow: hidden;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  transition: 0.8s ease-in-out;
  margin-top: 1.8%;
  flex-direction: column;
}

.slideimage {
  width: 90%;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  opacity: 0;
  border-radius: 1%;
  margin-left: 2%;
  transition: opacity 0.5s linear, transform 1.2s ease-in-out;
}

.img-1 {
  transform: translate(50px, 0px);
  max-height: 75%;
}

.img-2 {
  transform: translate(50px, 0px);
  max-height: 75%;
}

.img-3 {
  transform: translate(50px, 0px);
  max-height: 75%;
  /* transform: scale(0.3) rotate(-20deg); */
}

.img-4 {
  transform: translate(50px, 0px);
  max-height: 75%;
  /* transform: scale(0.4, 0.5); */
}

.images-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: start;
  justify-content: center;
  border-radius: 10%;
  margin-left: 2%;
}

.slideimage.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1%;
  /* background-color: red; */
}

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.25rem;
  border-radius: 50%;
  background-color: #aaaa;
  cursor: pointer;
  transition: 0.3s;
}

.bullets span.active {
  background-color: #000000;
  width: 1.1rem;
  border-radius: 1rem;
}

.logo_details {
  display: none;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
}

.logo_details i {
  color: white;
  font-size: 28px;
}

@media only screen and (max-width: 768px) {
  .logo_details {
    display: flex;
  }

  .select-container {
    max-width: 78px;
  }

  .select-container.open {
    z-index: 1;
    min-width: 280px;
  }

  .select-container .search-container {
    display: none;
  }

  .select-container.open .search-container {
    opacity: 1;
    display: flex;
  }

  .select-container .carousel {
    display: none;
  }

  .select-container.open .carousel {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .select-container {
    max-width: 100%; /* Adjust for smaller screens */
    padding: 10px; /* Adjust padding */
  }

  .search-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    margin-bottom: 10px;
  }

  .search-box {
    width: 100%; /* Take full width on smaller screens */
  }

  button {
    margin-top: 10px; /* Adjust spacing */
  }
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 25px;
}

button {
  padding: 10px 15px;
  background-color: #ff904b;
  color: #fff;
  border: none;
  border-radius: 25px;
  margin-left: 10px;
  cursor: pointer;
}

#request-button :hover {
  text-decoration: underline;
  background-color: #d26900;
}

button:hover {
  text-decoration: underline;
  background-color: #2a3441;
}

#search-button :hover {
  text-decoration: none;
  background-color: none;
}

/* Style for labels and select elements */
label {
  font-weight: bold;
  margin-top: 21px;
}

select {
  width: 278px;
  padding: 10px;
  border: 2px;
  border-right: 15px solid #fff;
  border-radius: 25px;
}

/* Style for option elements in the select */
select option {
  padding: 10px;
}
label {
  color: white;
  padding-bottom: 2px;
}
