body {
  font-family: "Arial", sans-serif;
  background-color: #f6f1ff;
  margin: 0;
  /* Reset default margin */
}

.homenavbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.set-margin {
  margin-top: 170px;
}
.sidebar {
  margin-top: -90px;
}

.profile-container2 {
  background-color: #ffffff;
  width: 70%;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  /* Use flexbox for better alignment */
  align-items: center;
  justify-content: space-between;
  /* Adjusted spacing between items */
  margin: 20px auto;
  border-radius: 20px;
  /* Center the container */
}

.picture {
  margin-right: 20px;
  /* Add margin for separation */
}

.image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.index {
  display: flex;
  flex-grow: 1;
  line-height: 1.455;
  flex-direction: column;
  font-weight: 700;
  margin-left: 15px;
}

.profile-name {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}
.profile-type {
  font-size: 15px;
  font-weight: 700;
  color: #000;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}

.profile-ratings {
  font-size: 15px;
  color: #666;
}

.budget {
  font-size: 16px;
  color: black;
}
.no-of-requests {
  color: red;
  margin-top: 12px;
  font-size: 15px;
}
.post-container :hover {
  box-shadow: 0 3px 9px 2px rgba(64, 60, 67, 0.24);
  border-color: rgba(223, 225, 229, 0);
  transform: scale(1.02);
}

.profile-container2 :hover {
  box-shadow: none;
  border: none;
  transform: none;
}

.view-profile-button,
.edit-profile-button,
.worker-profile-button {
  background-color: #ff7f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  margin-top: 80px;
  margin-left: 5px;
}
.view-profile-button:hover,
.edit-profile-button:hover,
.worker-profile-button:hover {
  background-color: #2a3441;
}

.index-right {
  display: flex;
  width: 35%;
  flex-direction: column;
  height: 130px;
  justify-content: space-between;
}

.index-right a {
  float: right;
}
.buton_bar {
  display: flex;
  justify-content: flex-end;
}

.location {
  display: flex;
  float: right;
  font-size: 14px;
  justify-content: flex-end;
}
.location i {
  color: #2a3441;
  font-size: 20px;
  padding-left: 7px;
}
.post-container {
  margin-left: 300px;
  width: calc(100% - 287px);
  margin-top: 20px;
}
.bottom-index {
  display: flex;
  flex-direction: column;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .homenavbar header {
    padding: 0 30px;
  }
  .index {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .index-right {
    display: flex;
    align-items: center;
  }
  .profile-container2 {
    width: 332px;
    float: inline-end;
    flex-direction: column;
    text-align: center;
  }

  .picture {
    margin: 0;
    /* Remove margin on smaller screens */
    margin-bottom: 10px;
    /* Add bottom margin for separation */
  }

  .location {
    float: none;
    /* Remove float on smaller screens */
  }
}
