body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.profile-container2 {
  background-color: #ffffff;
  width: 900px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 150px;
  border-radius: 20px;
}

.picture .image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.profile-name {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}

.profile-type {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}

.profile-ratings {
  font-size: 16px;
  color: #666;
}

.budget {
  font-size: 18px;
  color: black;
  font-weight: 300;
}

.location {
  float: right;
  font-size: 16px;
  /* Adjust the font size to make it readable */
  color: black;
  margin-top: -100px;
}

.view-profile-button {
  margin-top: -40px;
  float: right;
  background-color: #ff7f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}

.edit-profile-button {
  margin-top: -40px;
  margin-left: 700px;
  background-color: #ff7f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}

.worker-profile-button {
  margin-top: -40px;
  margin-left: 650px;
  background-color: #ff7f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 20px;
}

.index {
  margin-top: -50px;
  margin-left: 60px;
}

.post-container {
  margin-top: 20px;
  margin-left: 450px;
}
.homenavbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.set_margin {
  margin-top: 92px;
}
.cancelbutton {
  background-color: white;
  border: none;
  border-radius: 18px;
  border: solid 1px red;
  color: #000000;
  width: 112px;
  height: 30px;
  cursor: pointer;
  font-weight: 300;
}
.cancelbutton:hover {
  background-color: #e00000;
  color: #f4f4f4;
  transform: scale(1.05);
}
.viewbutton {
  background-color: white;
  border: none;
  border-radius: 18px;
  border: solid 1px rgb(255, 162, 0);
  color: #000000;
  width: 112px;
  height: 30px;
  cursor: pointer;
  font-weight: 300;
}
.viewbutton:hover {
  color: white;
  background-color: #ff7f00;
  transition: (1.23);
}
.pendingbutton {
  background-color: rgb(239 255 238);
  /* border: none; */
  border: solid 1px #08cd08;
  border-radius: 18px;
  color: #000000;
  width: 100px;
  height: 30px;
  font-weight: 300;
}
.rejectedbutton {
  background-color: rgb(255 248 239);
  border: solid 1px orange;
  border-radius: 18px;
  color: #000000;
  width: 100px;
  height: 30px;
  font-weight: 300;
}
.expirebutton {
  background-color: #ffeeee;
  /* border: none; */
  border: solid 1px red;
  border-radius: 18px;
  color: #000000;
  font-weight: bold;
  width: 100px;
  height: 30px;
  font-weight: 300;
}
.scrollable-table {
  overflow: auto;
  max-height: 590px;
}
.image {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.wkname {
  width: 145px;
  color: blue;
}
table th.desc {
  width: 100px;
  text-align: center;
  align-items: center;
}
table td.proimage,
table td.proname {
  background-color: #f6f7ff;
}
table th {
  font-size: larger;
}
.pop-view {
  position: absolute;
  height: fit-content;
  width: 35%;
  background: #ffffff;
  margin-top: -3%;
  margin-bottom: 3%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
  visibility: hidden;
  transition: transform 0.5s, top 0.5s;
  justify-content: center;
}

.open-pop-view {
  position: fixed;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 101;
}

.pop-view h2 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 4%;
  margin: 4px;
  font-weight: bold;
}

.pop-view h4 {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 2%;
}

.pop-view input {
  position: relative;
  left: 9%;
  /* min-width: 500px; */
  width: 80%;
  background: #d5dfe7d5;
  border-radius: 20px;
  border-style: solid;
  border: #000;
  outline-width: 1px;
  padding: 10px 30px;
  margin-bottom: 2%;
  transition: all 0.3s ease;
  color: var(--dark);
  font-size: 17px;
}

.pop-report .btns,
.pop-view .btns {
  position: relative;
  left: 40%;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-report .close-btn,
.pop-view .close-btn,
.cancelR-btn {
  position: absolute;
  right: 1%;
  font-size: 16px;
  color: var(--red);
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 6px;
  color: white;
  border: none;
  background-color: orangered;
}

.pop-report .cancelR-btn,
.cancelR-btn {
  right: 28%;
  color: white;
  background-color: orangered;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.overlay-active {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.bttns {
  position: relative;
  top: -12%;
  float: right;
  width: 33%;
  height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  margin-top: -12px;
}

