body {
  font-family: "Arial", sans-serif;
  background-color: #f6f1ff;
  margin: 0;
  /* Reset default margin */
}

.homenavbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.set-margin {
  margin-top: 170px;
}
.sidebar {
  margin-top: -90px;
}

.profile-container2 {
  background-color: #ffffff;
  width: 70%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  /* Use flexbox for better alignment */
  align-items: center;
  justify-content: space-between;
  /* Adjusted spacing between items */
  margin: 20px auto;
  border: 1px solid #bcbcbc;
  /* Center the container */
}

.picture {
  margin-right: 20px;
  /* Add margin for separation */
}

.image {
  max-height: 60px;
  max-width: 100%;
  /* Ensure image responsiveness */
  border-radius: 50%;
  /* Make the image circular */
}

.index {
  display: flex;
  flex-grow: 1;
  line-height: 1;
  flex-direction: column;
  max-width: 15%;
  color: #7c7c7c;
  font-weight: 700;
}
.b_index {
  display: flex;
  flex-grow: 1;
  line-height: 1;
  flex-direction: column;
  max-width: 13%;
  color: #7c7c7c;
  font-weight: 700;
}
.profile-name,
.profile-type,
.profile-ratings,
.budget {
  margin: 10px 0;
}

.view-profile-button,
.edit-profile-button,
.worker-profile-button {
  background-color: #ff7f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  margin-top: 80px;
  margin-left: 5px;
}
.view-profile-button:hover,
.edit-profile-button:hover,
.worker-profile-button:hover {
  background-color: #2a3441;
}

.index-right {
  display: flex;
  max-width: 450px;
  flex-direction: column;
  align-items: flex-end;
}

.index-right a {
  float: right;
}
.buton_bar {
  display: flex;
}

.location {
  display: flex;
  float: right;
  font-size: 14px;
  justify-content: flex-end;
}

.post-container {
  margin-left: 300px;
  width: calc(100% - 287px);
  margin-top: 20px;
}
.greenbutton {
  background: #f16a2d;
  border: #f16a2d;
  padding: 8px;
  border-radius: 20px;
  color: white;
}
.redbutton {
  background: #ff2626;
  border: #ff2626;
  padding: 8px;
  border-radius: 20px;
  color: white;
}
.index_info {
  display: flex;
  flex-direction: column;
  line-height: 2.31;
  width: 59%;
}
.b_index_info {
  display: flex;
  flex-direction: column;
  line-height: 2.3;
  width: 35%;
}
.mobile_index {
  display: flex;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .homenavbar header {
    padding: 0 30px;
  }
  .index {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .index-right {
    display: flex;
    align-items: center;
  }
  .profile-container2 {
    width: 332px;
    float: inline-end;
    flex-direction: column;
    text-align: center;
  }

  .picture {
    margin: 0;
    /* Remove margin on smaller screens */
    margin-bottom: 10px;
    /* Add bottom margin for separation */
  }

  .location {
    float: none;
    /* Remove float on smaller screens */
  }
}
